body {
  font-size: .875rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Custom CSS */

.activity-box{
  width: 150px;
  align-items: center;
  justify-content: center;
}
.back-button-box{
  display: flex;
  justify-content: end;
}
.back-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-style {
  background-color: rgb(189, 188, 188);
  color: black;
  font-size: larger;
  width: 70px;
  height: 50px;
  border-radius: 10px;
  transition: opacity 0.15s;
  border:none;
}
.button-style:hover{
  opacity: 50%;
}
.button-style:active{
  opacity: 10%;
}
.deadman-button{
  background-color: rgb(189, 188, 188);
  color: black;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  transition: opacity 0.15s;
  border:none;
}
.deadman-status-off{
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border:none;
}
.deadman-status-on{
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border:none;
}
.deadman-status-box{
  display: flex;
  width: 300px;
  margin-top: 30px;
}
.deadman-activity-box{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forward-button-box{
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 30px;
}
.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  height: 100vh;
  padding-bottom: 50px;
}
.left-backward-right-button-box{
  margin-top: 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.online-style {
  background-color: rgb(10, 229, 47);
  margin-left: 25px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  color: white;
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border:none;
}
.offline-style {
  background-color: rgb(229, 21, 10);
  margin-left: 25px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  color: white;
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border:none;
}
.status-textbox{
  background-color: rgb(222, 235, 234);
  width: 50%;
  padding: 5%;
  resize: both;
  overflow: auto;
}
.status-bar{
  font-weight: bold;
  width: 125px;
}
.status-activity-box{
  display: flex;
  flex-direction: row;
}
.text-bold{
  font-weight: bold;
}
ul {
  list-style: none;
}



